// 03._pages.scss

@import 'modules/_variables.scss';
@import 'modules/_mixins.scss';
@import 'modules/_animations.scss';


/********************************************************** Layout */

.header{
	height: auto;
}

.main{
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: -60px;
	position: absolute;
}


.camVideo{
	height: 70%;
	position: absolute; 
	left: 20%;
	top: 5%;
	visibility: hidden;
}


.mainCanvas{
	height: 70%;
	position: absolute; 
	left: 20%;
	top: 5%;
}

.trackMsg{
	visibility: hidden;
}

.logo{

	@include image-replacement();
    @include background-size(cover);  
    background-image: url("../../images/logo.png");

	
	width: 20%;
	height: 200%;
	margin-top: 60px;
	margin-left: 20px;
	position: relative; 
}

.score {
    margin-top: 240px;
    margin-left: 100px;
    font-size: $font-size-1;    
}

.score10{
	margin-top: 240px;
	margin-left: 70px;
	font-size: $font-size-1;
}

.startBtn{
	margin-top: 10px;
	margin-left: 70px;
} 

footer[role="contentinfo"]{
	margin-top: 600px;
	height: 60px;
	position: relative;
}

.footerText{
	padding-left: 30px;
	color: $black;
	font-size: $font-size-6;

}