// 03._pages.scss

@import 'modules/_variables.scss';
@import 'modules/_mixins.scss';
@import 'modules/_animations.scss';


/********************************************************** Layout */

*{
	margin: 0;
	padding: 0;
}

.camVideo{
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
}

.content {
	background-color: $black;
	left: 0;
	min-height: 600px;
	position: relative;
	top: 0;
}

.display{
	left: 50%;
	position: absolute;
	top: 50%;
}

footer[role="contentinfo"]{
	background-color: $black;
	clear: both;
	display: block;
	position: relative;
	margin-top: 0;
}

.footerText{
	color: $blue;
	font-family: 'Audiowide', cursive, Helvetica, Arial, sans-serif;
	font-size: $font-size-7;
	padding: 28px 0 0 $leftborder;
	
	p {
		line-height: 0;
		
		&:first-child {
			color: $white;
		}
	}
	
}

.header {
	display: block;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
}

.intro {
	background-color: $black;
	color: $yellow;
	display: block;
	font-family: 'Audiowide', cursive, Helvetica, Arial, sans-serif;
	font-size: $font-size-4;
	min-height: 600px;
	min-width: 1200px;
	position: relative;
	padding: 284px 0 0 160px;

	p {
		line-height: 2px;
	}
}

.logo {	
	display: block;
    margin: 20px 0 0 $leftborder;
	max-width: 100%;
	position: relative;
	z-index: 20000;
}

.logoText {
	font-family: 'Audiowide', cursive, Helvetica, Arial, sans-serif;
	font-size: $font-size-2;
    -webkit-text-fill-color: $black;
    -webkit-text-stroke-color: $blue;
    -webkit-text-stroke-width: 1.8px;

    @for $i from 1 through 3 {
    	&:nth-child(#{$i}) {
     		margin-left: 10px * ($i - 1);
  		}	
	}
}

.main {
	display: block;
	margin: 0;
	padding-bottom: -80px;
	position: relative;
	top: 0;
}

.mainCanvas{
	height: 100%;
	width: 100%;
}

.redCircle {
	display: block;
    background-color: $red;
    border-radius: 50%;
    height: 20px;
	left: 39.4px;
	margin: 0;
	position: absolute;
	top: 43px;
    width: 22px;
}


.startBtn {
    -moz-border-radius: 28;
    -webkit-border-radius: 28;
    background-color: $blue;
    border-radius: 14px;
    color: $black;
    font-family: 'Audiowide', cursive, Helvetica, Arial, sans-serif;
    font-size: $font-size-3;
    left: $leftborder;
    padding: 18px 10px;
    position: absolute;
    text-transform: uppercase;
    top: 400px;
    z-index: 300000;

    &:hover{
       background-color: $red;
       color: $yellow;
    }
} 

.sidebar {
	float: left;
	height: auto;
	margin: 240px 40px 0 15px;
	position: relative;
	width: 200px;
	z-index: 100003;
}

.score {
	padding: 0 0 0 100px;
    color: $white;   
    font-size: $font-size-1;
    visibility: hidden;
}

.score10{
	color: $white;    
	font-size: $font-size-1;
	padding: 0 0 0 70px;
}

.trackMsg{
	visibility: hidden;
}

.triangle {
	border-left: 100px solid $yellow;
  	border-top: 300px solid transparent;
  	border-bottom: 300px solid transparent;
  	background-repeat: no-repeat;
  	content: " ";
  	display: block;
  	float: left;
  	position: relative;
  	z-index: 300000;
}